*{
    margin: 0px;
    padding: 50px;
}
body{
    text-align: center;
    display: flex;
    justify-content: center;
}
div{
    
    background: cornsilk;
    align-items: right;
    
}
img{
    width: 500px;
    height: 400px;
    border-color: greenyellow
}
h1{
    font-size: 100px;
}
label{
 font-size: 20px;
}
h3{
    font-size: 20px;
    
}
span{
 font-size: 60px;
}
